<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558217605941-krshtf5j0ljfd8v6uv076a2s7ri1ct3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558217605941-krshtf5j0ljfd8v6uv076a2s7ri1ct3m</string>
	<key>API_KEY</key>
	<string>AIzaSyBv8qWns-Fj7rfOgRjw0qL4fvd3yjFbYgc</string>
	<key>GCM_SENDER_ID</key>
	<string>558217605941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.contribution.checkers</string>
	<key>PROJECT_ID</key>
	<string>checkers-club</string>
	<key>STORAGE_BUCKET</key>
	<string>checkers-club.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558217605941:ios:e5bce26a48359bcc5dd27c</string>
</dict>
</plist>